[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = "*"
openai = "*"
cmake = "*"
face-recognition = "*"
opencv-python = "*"
gtts = "*"
pygame = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
